Pictures/*
Applications/
Desktop/
Development/
Documents/
Downloads/
Library/
Movies/
Music/
Public/
.metatron
.rvm
.viminfo
.electrum/
.gem/
.mkshrc
.ssh/
.subversion/
.wget-hsts
.CFUserTextEncoding
.DS_Store
.Trash/
.bash_sessions/
.bundle/
.cache
