Pictures/*
Applications/
Desktop/
Development/
Documents/
Downloads/
Library/
Movies/
Music/
Public/
node_modules/
.bash_history
.config
.metatron
.rvm
.nvm
.npm
.viminfo
.vim/.netrwhist
.electrum/
.gem/
.mkshrc
.ssh/
.subversion/
.wget-hsts
.CFUserTextEncoding
.DS_Store
.Trash/
.bash_sessions/
.bundle/
.cache
.zsh-update
.zsh_history
.vim/colors/ThemerVim.vim
